*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: rgb(187, 187, 155)
}
body
{
  /* background-image: url("cloth bg.jpg"); */
  background-size: cover;
  background-position: center;
}

.menu-bar
{
  background: #B2B2B2;
  text-align: center;
}
.menu-bar ul
{
  list-style: none;
  color: antiquewhite;
}
.menu-bar ul li
{
  display: inline-flex;
  width: 120px;
  margin: 0px 15px 15px 15px;
  padding: 15px;
  justify-content: center;
}
.menu-bar ul li a
{
  text-decoration: none;
  color: white;
}
.active, .menu-bar ul li:hover
{
  background: #6d8883f1;
  border-radius: 30px;
}

.menu-bar .fa*/
{
  margin-right: 10px;
}
a{
  text-decoration: none;
  color: darkgray;
}
p{
  color: darkgray;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.btn{
  display: inline-block;
  background: rgb(168, 164, 153);
  color: #fff;
  padding: 8px 60px;
  margin: 30px 0;
  border-radius: 60px;
}
.active, .btn:hover
{
  background: #6d8883f1;
  border-radius: 60px;
}